<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../public/css/styles.css">
    <title>Training Page</title>
</head>
<body>
    <% include ./partials/header %>
    <div class="content">
        <br>
        <br>
        <h1 class="h1Train">Ready to Train?</h1>
        <div class="flipCard">
            <div class="card"> 
                <div class="flipCardFront" readonly>
                    <%= translatedWord.translation %>
                    <input type="text" name="inputWord" id="answerBox" placeholder="Answer" required>
                    <button type="submit" onclick="flip()" class="shadowButton">Enter</button>
                </div>
                <div class="flipCardBack" readonly>  
                    <form action="/train" method="POST">
                        <%= translatedWord.word %>
                        <input type="hidden" name="answer" value="<%=translatedWord.word%>">
                        <input type="hidden" name="hiddenWord" value="<%=translatedWord.id%>">
                        <input type="hidden" id="hiddenAnswer" name="inputWord">
                        <br>
                        <button type="submit" class="shadowButton">Next Word</button>
                        
                    </form>
                
                    
                </div>
            </div>
        </div>
            
        <br>
        
        
        <div class="progressDiv">
            <span class="label">You have mastered <%=greenWords%> out of <%=totalWords%> words.</span> 
            <progress class="greenProgressBar" value="<%=greenWords%>" max="<%=totalWords%>"></progress>
            <br>
            <span class="label">You are reviewing <%=yellowWords%> out of <%=totalWords%> words.</span> 
            <progress class="yellowProgressBar" value="<%=yellowWords%>" max="<%=totalWords%>"></progress>
            <br>
            <span class="label">You are learning <%=redWords%> out of <%=totalWords%> words.</span> 
            <progress class="redProgressBar" value="<%=redWords%>" max="<%=totalWords%>"></progress>
            <br>
        </div>
        
        <script>
            function flip() {
                var card = document.querySelector(".card");
                card.classList.toggle("flipped");
                
                var answer = document.querySelector("#hiddenAnswer");
                answer.value=document.querySelector("#answerBox").value
            }
        </script>
    </div>
    <% include ./partials/footer %>
</body>
</html>