<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../public/css/styles.css">
    <title>Training Page</title>
</head>
<body>
    <div class="back">
        <a href="/" class="backLink">Back</a>
    </div>
    <br>
    <h1 class="h1Train">Ready to Train?</h1>
    <br>
    <form action="/spanish/train" method="POST">
        <div class="flipCard">
            <div class="card" onclick="flip()">
                <textarea class="flipCardFront" rows="10" cols="50" readonly><%= translatedWord.translation %></textarea>
                <!-- <%if(translatedWord.word === translatedWord.answer) {%> -->
                    <textarea class="flipCardBack correctAnswer" rows="10" cols="50" readonly><%= translatedWord.word %></textarea>
                <!-- <%} else {%>
                    <textarea class="flipCardBack wrongAnswer" rows="10" cols="50" readonly><%= translatedWord.word %></textarea>
                <%}%> -->
            </div>
        </div>
        <br>
        <input type="hidden" name="answer" value="<%=translatedWord.word%>">
        <input type="hidden" name="hiddenWord" value="<%=translatedWord.id%>">
        <input type="text" name="inputWord" placeholder="Answer" required>
        <br>
        <button type="submit" onclick="flip()">Enter</button>
    </form>

    <script>
        function flip() {
            var element = document.querySelector(".card");
            element.classList.toggle("flipped");
        }
    </script>
</body>
</html>